* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", "Rubik", Helvetica, sans-serif;
}

body {
    background-image: url(../images/sunset-1637376_1920.jpg);
    height: 100vh;
    width: 100vw;
    color: #ffc;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 92%;
    max-width: 400px;
    height: 366px;
    background-color: #0008;
    padding: 34px;
    border-radius: 30px;
    white-space: nowrap;
}

main input {
    padding: 10px 5%;
    font-size: 1.2rem;
    border-radius: 30px;
    width: 270px;
    border: none;
    outline: none;
    color: #ffc;
    background-color: #fff1;
    font-size: 500;
}

main button {
    height: 38px;
    width: 38px;
    margin-left: 28px;
    border: none;
    border-radius: 50px;
    background-color: #fff1;
    color: #ffc;
    cursor: pointer;
}

main h1 {
    font-size: 1.9rem;
    margin-top: 30px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.description {
    margin: 0 3%;
    text-transform: capitalize;
}

div {
    display: flex;
    align-items: center;
}



@media(max-width: 500px) {
    main {
        padding: 25px;
        height: 340px;
    }

    main input {
        width: calc(100% - 40px);
        font-size: 300;
        padding: 10px 5%;
    }

    main h1 {
        font-size: 1.5rem;
    }
}



